<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/courses">Courses</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
